[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scoreInvHap"]
	path = scoreInvHap
	url = https://git.bioconductor.org/packages/scoreInvHap
